.App {
  font-family: sans-serif;
  text-align: center;
}

.user-msg {
  color: orange;
}
.img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

span {
  font-weight: bold;
  font-style: italic;
}
/* .box { */
/* height: 12rem; */
/* border: 2px solid ; */
/* display: flex;
  flex-direction: column;
  align-items: center; */
/* gap: 3rem; */
/* padding-bottom: 2rem;
} */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
